  @page {
    size: 130mm 150mm;
    margin: 0;
    padding: 0;
  }
  @media print {
    .page {
      margin: 0 !important;
      padding: 0 !important;
      justify-content: center;
      text-align: center;
    }
    .sub-page {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  