@media (min-width: 0px){
    .App {
        color: aliceblue;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url("https://res.cloudinary.com/dyqklwu1n/image/upload/v1705073382/burger_cottage_vertical_xua9su.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
}
@media (min-width: 900px) {
    .App {
        color: aliceblue;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url("https://res.cloudinary.com/dyqklwu1n/image/upload/b_rgb:f81212,c_crop,h_1000,o_53,w_2000/v1701793424/BurgerCottage/burger-fries_ul6f8w.avif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
            display: flex;
            flex-direction: column;
        } 
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -76px 0 0 -76px;
    border: 8px solid #ecc6c6;
    border-radius: 50%;
    border-top: 8px solid #d1b2b2;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  